model/
dataset/*
!dataset/all_data_sync.csv
!dataset/all_data_processed.csv
!dataset/extended_segments_2_sec_overlap_0/
dataset/extended_segments_2_sec_overlap_0/*
!dataset/extended_segments_2_sec_overlap_0/dataset_subsegments.csv
!dataset/extended_segments_2_sec_overlap_1/
dataset/extended_segments_2_sec_overlap_1/*
!dataset/extended_segments_2_sec_overlap_1/dataset_subsegments.csv
!dataset/extended_segments_5_sec_overlap_0/
dataset/extended_segments_5_sec_overlap_0/*
!dataset/extended_segments_5_sec_overlap_0/dataset_subsegments.csv
!dataset/extended_segments_5_sec_overlap_2/
dataset/extended_segments_5_sec_overlap_2/*
!dataset/extended_segments_5_sec_overlap_2/dataset_subsegments.csv
!dataset/extended_segments_10_sec_overlap_0/
dataset/extended_segments_10_sec_overlap_0/*
!dataset/extended_segments_10_sec_overlap_0/dataset_subsegments.csv
!dataset/extended_segments_10_sec_overlap_5/
dataset/extended_segments_10_sec_overlap_5/*
!dataset/extended_segments_10_sec_overlap_5/dataset_subsegments.csv
old/
**/__pycache__/
._*
1_load_data.svg
milvus_data/
**/.DS_Store
.DS_Store
results/*
experiments/~$20250319_all_experiments_not_normalised.xlsx
experiments/all_experiments.old.csv
knn_results/
knn_results_not_normalised/
faiss_results/
img/class_distribution_pie.svg
img/class_distribution.svg
img/distributie_clase.svg
img/distributie_clase2.svg
img/segment_shape.svg
faiss_index_cache/
index_hnsw_results_bigdataset.svg
dataset/all_data_processed.csv
experiments/all_knn_experiments_v3.csv
experiments/all_faiss_experiments_index_ivf_all.csv
dataset/extended_segments_10_sec_overlap_5/dataset_subsegments.csv
dataset/all_data_sync.csv
experiments/all_collections.csv
experiments/executed_faiss_experiments_index_ivf_all_round0.csv
experiments/executed_faiss_experiments_index_ivf_all_round1.csv
experiments/executed_faiss_experiments_index_ivf_all_round2.csv
experiments/executed_faiss_experiments_index_ivf_all_round3.csv
experiments/executed_faiss_experiments_index_ivf_all_round4.csv
experiments/all_milvus_experiments_index_milvus_pq_10.csv
